:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  margin: 0.5rem;
}

body {
  font-weight: 300;
  color: #444;
}

.section-0 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.section-0 > * {
  padding: 0.5rem 1rem;
}

input[type='button'] {
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

input[type='text'] {
  font-size: 1rem;
  font-weight: inherit;
  padding: 0 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  height: 2rem;
}

#cd input[type='button'],
#pd input[type='button'] {
  padding: 0 1rem;
  transition: all 0.3s;
  height: 2rem;
}

.cd-cd {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 0.2rem;
  color: var(--color-primary);
}

.cd-get,
.cd-res,
.pd-get,
.pd-res {
  display: flex;
  flex-direction: column;
}

.cd-get > *,
.cd-res > *,
.pd-get > *,
.pd-res > * {
  margin: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .section-0 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cd-get,
  .cd-res,
  .pd-get,
  .pd-res {
    flex-direction: row;
  }
}
